<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 10%; margin-bottom: 10%;">
            <div class="text-center m-b-md custom-login">
                <h3>Gestion Espace Vert !</h3>
                <p>Veulliez inserer votre email svp!</p>
            </div>
            <div class="displayB">
                <div class="panel-body">
                    <form [formGroup]="service.form" class="normal-form" (submit)="onResetEmail()">
                        <mat-form-field class="displayB">
                            <input formControlName="email" matInput placeholder="Email *">
                            <mat-error>Invalid email address.</mat-error>
                        </mat-form-field>
                        <!--Success! Your email address has been verified and you can now send submissions.-->
                        <button class="btn btn-block" mat-raised-button color="primary" type="submit">Submit</button>
                        <a class="btn btn-default btn-block" [routerLink]="['/login']">Login</a>
                        <span>© 2020 Master ISI</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
