<div class="container">

    <button style="margin-bottom: 15px; float: right;" class="btn btn-success">Nouveau Projet</button>

    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item">
                <section class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/1.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J1</div>
                                <p class="card-text">
                                    ensemble des des nouveau plantation, ajouter par MM, X
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/2.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J2</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser . Il n'a pas fait que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/3.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J3</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un livre it que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/4.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J4</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un  que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <div class="carousel-item active">
                <section class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/5.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J5</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/6.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J6</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/7.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J7</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/jardin/4.jpg" alt="dkz">
                            <div class="card-body">
                                <div class="card-title">J8</div>
                                <p class="card-text">
                                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles,
                                </p>
                                <a href="#" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
