<mat-tab-group>
    <mat-tab label="Password">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Password</h2>
            <div class="row" style=" margin-top: 20px; ">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/security.png" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <div class="form-group">


                                    <form [formGroup]="service.form" (submit)="updatePassword()">
                                        <div class="form-row">
                                            <div class="form-label-group">
                                                <input type="password" style=" width: 350px; " class="form-control" formControlName="password" placeholder="Current Password" required="required">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-row">
                                            <div class="form-label-group">
                                                <input type="password" style=" width: 350px; " class="form-control" placeholder="New Password" required="required">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-label-group">
                                                <input type="password" style=" width: 350px; " class="form-control" placeholder="Confirm Password" required="required">
                                            </div>
                                        </div>
                                        <Button class="btn btn-success" style=" margin-top: 10px; " type="submit">Valider</Button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Email">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Password</h2>
            <div class="row" style=" margin-top: 20px; ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/mailSecurit.jpg" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                              <form [formGroup]="service.form" (submit)="updateEmail()">
                                <div>
                                    <label>{{ email }}</label><span style="margin-left: 15px;" class="badge badge-pill badge-success">Success</span>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="email"  class="form-control" formControlName="email" placeholder="New Email" required="required">
                                    </div>
                                </div>

                                <div>
                                    <Button class="btn btn-success" style=" margin-top: 10px; "  type="submit"> Valider</Button>
                                </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>
