<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 10%; margin-bottom: 10%;">
            <div class="text-center m-b-md custom-login">
                <h3>Bienvenu !</h3>
                <p>Veullez s'authentifier svp</p>
            </div>
            <div class="displayB">
                <div class="panel-body">
                    <form [formGroup]="service.form" class="normal-form" (submit)="onLogin()">
                        <mat-form-field class="displayB">
                            <input formControlName="email" matInput placeholder="Email *">
                            <mat-error>Invalid email address.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="displayB">
                            <input formControlName="password" matInput placeholder="Password *">
                            <mat-error *ngIf="service.form.controls['password'].errors?.required">This field is mandatory.</mat-error>
                            <mat-error *ngIf="service.form.controls['password'].errors?.minlength">Minimum 8 charactors neede d.
                            </mat-error>
                        </mat-form-field>
                        <div class="checkbox login-checkbox">
                            <label><input type="checkbox" class="i-checks"> Remember me </label>
                        </div>
                        <button class="btn btn-block" mat-raised-button color="primary" type="submit">Submit</button>
                        <button class="btn btn-block" mat-raised-button color="warn" (click)="onClear()">Clear</button>
                        <a class="btn btn-block" [routerLink]="['/register']">Register</a>
                        <a class="btn  btn-block" [routerLink]="['/reset']">Reset</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>