<div class="main-menu-area mg-tb-40">
    <div class="container">
        <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Ajouter un travau</mat-card-title>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> Expertise </mat-panel-title>
                            </mat-expansion-panel-header>
                            <input type="hidden" formControlName="id">
                            <mat-form-field>
                                <input formControlName="type_travaux" matInput placeholder="type travaux">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="date_travaux" matInput [matDatepicker]="picker_dossier"
                                    placeholder="Date travaux">
                                <mat-datepicker-toggle matSuffix [for]="picker_dossier"></mat-datepicker-toggle>
                                <mat-datepicker #picker_dossier></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="N_debut" matInput placeholder="Num debut">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="N_fin" matInput placeholder="Num fin">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="taille" matInput placeholder="taille">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="agent_responsable" matInput placeholder="agent responsable">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="heure" matInput placeholder="heure">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Nom_station" matInput placeholder="Nom station">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="cout_travau" matInput placeholder="cout travau">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="taux_avencement" matInput placeholder="taux avencement">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="References" matInput placeholder="References">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Date_expertise" matInput [matDatepicker]="picker_date"
                                    placeholder="Date Expertise">
                                <mat-datepicker-toggle matSuffix [for]="picker_date"></mat-datepicker-toggle>
                                <mat-datepicker #picker_date></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field>
                                <input formControlName="Hauteur" matInput placeholder="Hauteur">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Circonference" matInput placeholder="Circonference">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Etat_phytosanitaire" matInput placeholder="Etat Phytosanitaire">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="type" matInput placeholder="type">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Niveau_risque" matInput placeholder="Niveau risque">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Montant_unitaire" matInput placeholder="Montant unitaire">
                            </mat-form-field>


                            <mat-form-field>
                                <input formControlName="Nombre_arbres" matInput placeholder="Nombre arbres">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Total_couts" matInput placeholder="Total couts">
                            </mat-form-field>

                            <mat-form-field>
                                <input formControlName="Numero_dossier" matInput placeholder="Numero_dossier">
                            </mat-form-field>


                            <mat-form-field>
                                <input formControlName="Date_commande" matInput [matDatepicker]="Date_commande"
                                    placeholder="Date commande">
                                <mat-datepicker-toggle matSuffix [for]="Date_commande"></mat-datepicker-toggle>
                                <mat-datepicker #Date_commande></mat-datepicker>
                            </mat-form-field>

                        </mat-expansion-panel>


                    </mat-accordion>
                </mat-card-content>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" type="reset" (click)="onClear()">Clear</button>
                </div>
            </mat-card>
        </form>
    </div>
</div>