
<video autoplay muted loop id="myVideo">
  <source src="../../assets/res/black-nature.webm" type="video/mp4">
</video>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand centerItem ">Nature Solution</h3>
        </div>
      </header>

      <main role="main" class="inner centerItem cover">
        <h1 class="cover-heading">Bienvenu dans votre espace!</h1>
        <p class="lead">Meilleur solution pour gerer votre espace verte œuvrant en écologie et environnement.</p>
        <p class="lead">
          <button (click)="redirectLogin()" class="btn btn-lg btn-secondary">Bienvenu !!</button>
        </p>
      </main>

      <footer class="mastfoot centerItem mt-auto">
        <div class="inner">
          <p>@Copyright Master ISI <a href="index">2019-2021</a>.</p>
        </div>
      </footer>
    </div>
