<mat-tab-group>
    <mat-tab label="Voir">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Vos Information</h2>
            <div class="row" style=" margin-top: 30px; ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/user.png" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    {{fullname}} </h4>
                                <small><cite title="San Francisco, USA">{{adress}}, {{ville}} <i
                      class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                                <p>
                                    <br />
                                    <i class="fa big-icon fa-envelope"></i>{{email}}
                                    <br />
                                    <i class="fa big-icon fa-phone"></i><a> {{tel}} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Modifier">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Modification</h2>
            <div class="row" style=" margin-top: 30px; ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/user.png" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <div class="form-group">
                                    <form [formGroup]="service.form" class="normal-form" (submit)="update()">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="text" class="form-control" formControlName="nom" required="required" [(value)]="this.nom">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="text" class="form-control" formControlName="prenom" [(value)]="this.prenom " required="required">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-label-group">
                                                    <input type="text" class="form-control" formControlName="adress" required="required" [(value)]="this.adress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="text" class="form-control" formControlName="ville" [(value)]="this.ville" equired="required">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-label-group">
                                                    <input type="text" class="form-control" formControlName="tel" required="required" [(value)]="this.tel">
                                                </div>
                                            </div>
                                        </div>
                                        <Button class="btn btn-success" type="submit">Valider</Button>
                                    </form>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
</mat-tab-group>