<mat-tab-group>
    <mat-tab label="Voir">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Vos Information</h2>
            <div class="row" style=" margin-top: 30px; ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/user.png" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    Bhaumik Patel</h4>
                                <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                                <p>
                                    <br />
                                    <i class="fa big-icon fa-envelope"></i>email@example.com
                                    <br />
                                    <i class="glyphicon glyphicon-globe"></i><a>www.jquery2dotnet.com</a>
                                    <br />
                                    <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Modifier">
        <div class="container">
            <h2 style=" margin-top: 10px; text-inline: center;">Modification</h2>
            <div class="row" style=" margin-top: 30px; ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <img src="../../assets/res/user.png" alt="" style="height: 150px;width: 150px;" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="Last name" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" placeholder="Last name" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <Button class="btn btn-success">Valider</Button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-tab>
</mat-tab-group>