<div class="container">
    <div class="head-section">
        <span class="h3">{{this.arbre.essence}}, </span>
        <span class="h4">{{this.arbre.variete}}</span>
        <button type="button" mat-stroked-button color="primary" name="button" style="float: right;" (click)="onClickEdit()">Edit Tree</button>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6" id="car-container">
          <div id="carouselExampleControls" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item" *ngFor="let photoLink of this.arbre.photos; let index = index" [ngClass]="{'active': index == 0}">
                <img
                    [src]="photoLink"
                    class="d-block w-100"
                    alt="..."
                    >
              </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
        </div>

        <div class="col-md-6">
          <div class="container">
              <div class="row">

                <div class="col-md-6">
                    <p>Position:</p>
                </div>
                <div class="col-md-6">
                    <p>( {{this.arbre.position.x}}, {{this.arbre.position.y}})</p>
                </div>

                <div class="col-md-6">
                    <p>Circonference:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.circonference}} meters</p>
                </div>

                <div class="col-md-6">
                    <p>Hauteur:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.hauter}} meters</p>
                </div>

                <div class="col-md-6">
                    <p>Surface:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.surface}} meters squared</p>
                </div>

                <div class="col-md-6">
                    <p>Distance au batiment:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.distanceAuBati}} meters</p>
                </div>

                <div class="col-md-6">
                    <p>Contraintes batiment:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.contraintesBatiment}}</p>
                </div>

                <div class="col-md-6">
                    <p>Incedent racine:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.incedentRacine}}</p>
                </div>

                <div class="col-md-6">
                    <p>Etat physiologique:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.etatPhysiologique}}</p>
                </div>

                <div class="col-md-6">
                    <p>Alignement:</p>
                </div>
                <div class="col-md-6">
                    <p>{{this.arbre.alignement}} meters</p>
                </div>


              </div>
          </div>

        </div>
    </div>

    <div class="container" id="contents">
          <section>
            <h4>Atteintes physiologique:</h4>
            <p>
                {{this.arbre.atteintesPhysiologique}}
            </p>
          </section>

          <section>
            <h4>Defaults mecaniques:</h4>
            <p>
                {{this.arbre.defautsMecaniques}}
            </p>
          </section>

          <section>
            <h4>Pathogene:</h4>
            <p>
                {{this.arbre.pathogene}}
            </p>
          </section>

    </div>

</div>
