.aColor {
    color: #ffffff;
}

.space_Section {
    margin-top: 20px;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-cool-blue {
    background-color: #03579e !important;
}

.icon-drop-user {
    margin-right: 10px;
}

.icon-menu-space {
    margin-right: 50px;
}
